<!-- Service Start -->
<div class="col-lg-12 text-center">
	<h3 class="mb-5 mt-2">Greetings !</h3>
	<p>We are a collection of software-defined-radio (SDR) enthusiasts – from novice to experts – who
      have come together with a common interest in this exciting field. If you would like to keep 
      up-to-date with the South Indian SDR Users group discussion, please consider connecting with 
      us or participating in our annual South Indian User Group Workshop on SDR. A place for you to 
      tell a story and let your users know a little more about you. If you would like to stay 
      up-to-date with the plans for SI-SDR-UG's activities, please connect with us!</p>
</div>